.movie-card {
    border-radius: 10px !important;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none !important;
    transition: 1s all;

    &:hover {
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        cursor: pointer;
    }
}


.poster-container {
    position: relative;
}

.vote-average--movie {
    position: absolute;
    bottom: -20px;
    right: 10px;
}

.release-date {
    color: #7e7e7e;
}